{% extends "base.html" %}

{% block graph %}
<link rel="stylesheet" href="../static/css/index.css">
<div class="container-fluid scrollable" id="background-pic">
    <h1>Welcome!</h1>
    <p><b>MediCollab</b> enables you to analyze Medicare provider networks<p>
<form method="POST" class="was-validated">
<div class="form-group">
  <select class="custom-select" name = "search" required>
    <option value="">Choose Specialty</option>
    <option value="`Cardiovascular Disease (Cardiology)`">Cardiovascular Disease (Cardiology)</option>
    <option value="Endocrinology">Endocrinology</option>
    <option value="`Gynecological Oncology`">Gynecological Oncology</option>
    <option value="`Interventional Cardiology`">Interventional Cardiology</option>
    <option value="`Gynecological Oncology`">Gynecological Oncology</option>
    <option value="`Nephrology`">Nephrology</option>
    <option value="`Neurosurgery`">Neurosurgery</option>
    <option value="`Pulmonary Disease`">Pulmonary Disease</option>
    <option value="`Urology`">Urology</option>
  </select>
<br>
<br>
        <button type="submit" name="search" class="btn btn-primary">Submit</button>
    </form>
    <br>

</div>

{% endblock %}
